<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Detail Kontak</h2>
      <% if (!contact) { %>
      <div class="alert alert-danger" role="alert">
        Kontak Tidak Ditemukan!<a href="/contact" class=""> Kembali</a>
      </div>
      <% } else { %>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title"><%= contact.nama %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= contact.nomor %></h6>
          <p class="card-text"><%= contact.email %></p>
          <a
            href="/contact/update/<%= contact.nama %> "
            class="btn btn-info badge"
            >edit</a
          >
          <a
            href="/contact/delete/<%= contact.nama %> "
            class="btn btn-danger badge"
            onclick="confirm('Yakin?')"
            >hapus</a
          >
          <a href="/contact" class="card-link d-block"
            >&laquo; Kembali ke daftar kontar</a
          >
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
